body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  
}

.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}


.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
/* Layout */
.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
}

.sidebar a:hover {
  color: #38bdf8;
}

.main-content {
  flex: 1;
  background: #f1f5f9;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.topbar button {
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
}

/* Dashboard Cards */
.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  font-size: 18px;
  font-weight: bold;
}

.login-box {
  width: 380px;
  background: white;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}
